
.grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 2350px; 
}

.link-card{
    text-decoration: none;
}

@media only screen and (max-width: 1140px) {
    
    .grid{
        max-height: 3100px;
    }
    .link-card{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 992px){
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: none;
    }
}